<!-- Realizado usando bootstrap -->
<div class="container">
  <nav class="navbar navbar-expand-md navbar-warning bg-warning">
    <a class="navbar-brand" href="#">
      <div></div>
    </a>
    <button
      class="navbar-toggler btn btn-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-icons">menu</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link btn btn-warning text-white" routerLink=""
            >Inicio <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link btn btn-warning text-white"
            routerLink="quienes-somos"
            >¿Quiénes somos? <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link btn btn-warning text-white" href="#"
            >¿Qué hacemos? <span class="sr-only">(current)</span></a
          >
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link btn btn-warning text-white" href="#"
            >Contacto <span class="sr-only">(current)</span></a
          >
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle btn btn-warning text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Regístrate
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Voluntario</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Estudiante</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
