<div class="container my-4">
  <h1 class="titulos">título</h1>
  <h3 class="autor text-muted">realizado por <a href="">nombre de autor</a></h3>
  <hr />
  <h3 class="fecha text-muted">Publicado 05 de septiembre 2020 18:00</h3>
  <hr />
  <div class="imagen-portada">
    <img src="./../../../../assets/images/portada.jpg" alt="" />
  </div>
  <div class="contenido my-4 px-2 px-md-5">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptate
      consequatur totam! Nam veritatis non obcaecati eius, sit fuga quos, quia
      inventore ab totam autem, labore aut officiis tempore quam?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquid
      obcaecati quibusdam totam, assumenda debitis odio quam ab doloremque. Sint
      minima tempora praesentium labore ipsa velit eius esse culpa voluptatibus?
    </p>

    <h3 class="subtitulo font-weight-bold">
      Lorem ipsum dolor sit amet, consectetur adipisicing.
    </h3>

    <p class="resaltar">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi unde
      temporibus vero dolor maxime ipsam culpa perferendis aperiam voluptatibus
      et, reiciendis nemo accusamus officiis, reprehenderit totam. Officiis ipsa
      corrupti alias!
    </p>
    <div class="imagen-text">
      <img src="./../../../../assets/images/iconblack.png" alt="" />
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti ducimus
      dicta quas natus quo at numquam, iusto accusamus, fugiat totam sit
      suscipit mollitia temporibus dolore quod animi nesciunt veritatis
      explicabo!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
      cumque quaerat deserunt autem veritatis, eos qui molestiae tenetur nulla
      aliquam quia magnam ut saepe, facilis est. Nostrum voluptatem labore
      molestias!
    </p>
  </div>
  <hr />
  <strong>Aprende más</strong>
  <ul>
    <li><a href="#">link de páginas</a></li>
    <li><a href="#">link de videos</a></li>
  </ul>
  <hr />
  <p class="comparte">Comparte este post</p>
  <hr />
  <app-carousel-tools></app-carousel-tools>
</div>
