<div class="container">
  <div class="row mb-2 mx-auto">
    <img src="./../../../../assets/images/portada.jpg" alt="..." />
  </div>
  <div class="row mx-auto">
    <div class="card border-light">
      <div class="card-body">
        <h1 class="card-title titulos">¿QUIÉNES SOMOS?</h1>
        <p class="card-text text-center">
          Somos un voluntariado, integrado por jóvenes profesionales, que
          brindan asesoría y reforzamiento educativo a niños y jóvenes en edad
          escolar, a través de plataformas virtuales, interativas y dinámicas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card border-light">
          <div class="card-body">
            <h1 class="card-title titulos">MISIÓN</h1>
            <p class="card-text text-center">
              Somos una organización sin fines de lucro formada por jóvenes
              voluntarios dedicados a realizar reforzamiento y brindar asesoría
              académica a estudiantes de primaria y secundaria, a través de
              plataformas virtuales, como colaboración social y apoyo a
              escolares y padres de familia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card border-light">
          <div class="card-body">
            <h1 class="card-title titulos">VISIÓN</h1>
            <p class="card-text text-center">
              Ser una organización líder a nivel regional y referente nacional,
              llegando a la mayor cantidad de beneficiarios y de esa manera
              impactar positivamente en el desarrollo escolar y social.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card border-light">
          <div class="card-body">
            <h1 class="card-title titulos">VALORES</h1>
            <ul>
              <li>Responsabilidad</li>
              <li>Respeto</li>
              <li>Solidaridad</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card border-light">
          <div class="card-body">
            <h1 class="card-title titulos">PILARES</h1>
            <ul>
              <li>Responsabilidad</li>
              <li>Respeto</li>
              <li>Solidaridad</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-nuestro-equipo></app-nuestro-equipo>
  <app-nuestros-voluntarios></app-nuestros-voluntarios>
</div>
