<div class="more-tools">
  <h1 class="titulos">Más herramientas</h1>
  <div class="fila-card row d-flex flex-nowrap">
    <div class="card border-info" *ngFor="let m of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <img
        src="./../../../../assets/images/logonegro.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <a routerLink="../our-tools" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
</div>
